<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NumericDoc - Secure Document Storage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body style="background-color:rgb(250, 248, 241)">
    <div class="container">
        <header>
            <h1 style="color:rgb(240, 206, 12); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center; font-size: 50px;">NumericDoc</h1>
            <h1>Keep <i style="color: rgb(0, 212, 212);">your</i> Important<br><i style="color: rgb(0, 201, 201);">Document Numbers</i> Secure in One Place</h1>
            <p>NumericDoc is your personal digital locker for all document numbers like Aadhar, PAN, Driving License & more. Access anytime, anywhere with enterprise-grade security.</p>
            
            <div class="cta-buttons">
                <a href="/signup" class="btn primary">Create Account</a>
                <a href="/login" class="btn secondary">Sign In</a>
            </div>
        </header>
    </div>
</body>
</html>